<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
  </configSections>
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <alias alias="ILoginValidator" type="Intime.Web.WebApi.Authorization.ILoginValidator, Intime.Web.WebApi.Authorization" />
    <container>
      <register type="Intime.Web.WebApi.Authorization.IPermissionProvider, Intime.Web.WebApi.Authorization"
                mapTo="WebApiDemo.VirtualPermissionProvider, WebApiDemo" />
      <register type="ILoginValidator"
                mapTo="Intime.Web.WebApi.Authorization.RequestValidator.DomainLoginValidator, Intime.Web.WebApi.Authorization.RequestValidator"
                name="Lis.MVC" />
      <register type="ILoginValidator"
                mapTo="Intime.Web.WebApi.Authorization.RequestValidator.PasswordLoginValidator, Intime.Web.WebApi.Authorization.RequestValidator"
                name="WMS.PC">
        <property name="ValidateURL" value="http://10.32.11.30:8888/People/Api/User/Validate" />
      </register>
    </container>
  </unity>
</configuration>